<%- include('header'); -%>
<div>
  <h3>This is home</h3>
  <h2>Welcome, <%= user.email %></h2>
  <button class="text-button">
    <a href="/protected">Click here to go to protected page</a>
  </button>
</div>

<%- include('footer'); -%>
